<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768747685028-rmga7acnpvd762cj9kmeo5d4vtrnnv2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768747685028-rmga7acnpvd762cj9kmeo5d4vtrnnv2d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>768747685028-897t1fqrun2t8p9705hj1seuoe2ho1fn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhJQvz1y5PgoxcEm21EvArc-mj5gnwuH8</string>
	<key>GCM_SENDER_ID</key>
	<string>768747685028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icebr8k.ios</string>
	<key>PROJECT_ID</key>
	<string>icebr8k-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>icebr8k-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768747685028:ios:13fa52e1a53676b5891231</string>
	<key>DATABASE_URL</key>
	<string>https://icebr8k-flutter.firebaseio.com</string>
</dict>
</plist>